[submodule "workshop/ow-g1"]
	path = workshop/ow-g1
	url = https://gist.github.com/ab5cab8e5f9ea605f5c9ae6f22b73a14.git
[submodule "workshop/ow-g2"]
	path = workshop/ow-g2
	url = https://gist.github.com/a4ec1fb392fcff2c83b9528c52358c3b.git
[submodule "workshop/ow-g3"]
	path = workshop/ow-g3
	url = https://gist.github.com/dce65811b9807e0b3848c652d259d764.git
[submodule "workshop/ow-g4"]
	path = workshop/ow-g4
	url = https://gist.github.com/484623f6d5cc8f6af2aaea36f2e12c6f.git
